<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="./log/coverage.xml"/>
      <html outputDirectory="./log/report" lowUpperBound="50" highLowerBound="80"/>
      <text outputFile="./log/coverage.txt"/>
    </report>
  </coverage>
  <testsuite name="Tests">
    <directory>./tests</directory>
  </testsuite>
  <logging>
    <testdoxHtml outputFile="./log/testdox.html"/>
  </logging>
</phpunit>
